#Main
oldie_ref
Test
#Prototype
Server/
# src/
*.log
__pycache__
Android-app
*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
TimeStackAndroidApp/Server Prototype/node_modules
TimeStackAndroidApp/Server Prototype/package-lock.json
TimeStackAndroidApp/Server Prototype/package.json
challenge_code.json