#Main
oldie_ref
Test
#Prototype
Server/
user_data/
# src/
*.log
__pycache__
Android-app
*.iml
.gradle
*.db
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
TimeStackAndroidApp/Server Prototype
TimeStackAndroidApp/NetworkPrototype